{% extends "MonApiBundle::layout.html.twig" %}
{% block title %}Liste des Annonces{% endblock title %}
{% block body %}
    {% for flashMessage in app.session.flashbag.get('message') %}
        <div class="message">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="new_categorie">
        {{ form_start(form_categorie) }}
        {{ form_label(form_categorie.name, "Nouvelle Categorie : ") }}
        {{ form_errors(form_categorie.name) }}
        {{ form_widget(form_categorie.name) }}
        {{ form_end(form_categorie)}}
    </div>
    <div class="new_categorie">
        {{ form_start(form_ville) }}
        {{ form_label(form_ville.codePostal, "Nouvelle Ville : ") }}
        {{ form_errors(form_ville.codePostal) }}
        {{ form_widget(form_ville.codePostal) }}
        {{ form_end(form_ville)}}
    </div>
    <div class="body_index">
        {% if annonce is not empty %}
        <h1>Liste des Annonce</h1>
        {% for annonce in annonce %}
            <div class="annonce">
                <div class="titre">
                    {{ annonce.titre }}
                </div>
                <div class="categorie">
                    [ {{ annonce.categories.name }} ]
                </div>
                <div class="description">
                    {{ annonce.description }}
                </div>
                <div class="ville">
                    {{ annonce.villes.codePostal }}
                </div>
                <div class="prix">
                    {% if annonce.prix == null %}
                        0 €
                    {% else %}
                        {{ annonce.prix }} €
                    {% endif %}
                </div>
                <div class="date">
                    {{ annonce.date|date("d/m/Y") }}
                </div>
                <div class="action">
                    <a href="{{ path('mon_api_show', {'slug' : annonce.slug }) }}"><input type="button" value="Voir"></a>
                    <a href="{{ path('mon_api_edit', {'slug' : annonce.slug }) }}"><input type="button" value="Modifier"></a>
                    <a href="{{ path('mon_api_delete', {'slug' : annonce.slug }) }}"><input type="button" value="Supprimer"></a>
                </div>
            </div>
        {% endfor %}
        {% else %}
            <h1>Pas d'annonce disponible</h1>
        {% endif %}
    </div>
{% endblock body %}