{% extends "MonApiBundle::layout.html.twig" %}
{% block title %}Recherche{% endblock title %}
{% block body %}
    <h1>Recherche - Liste des categories</h1>
    {% for categorie in categorie %}
        <div class="search">
            <div class="search_categorie">
                {{ categorie.name }}
            </div>
            {% for ville in ville if categorie == ville.categories %}
                <div class="search_ville"><a href="{{ path('mon_api_search_full', {'categorie' : categorie.slug, 'ville' : ville.villes.codePostal }) }}"><input type="button" value="{{ ville.villes.codePostal }}"></a></div>
            {% else %}
                <p>Pas d'annonces pour cette categorie</p>
            {% endfor %}
        </div>
    {% endfor %}
    {% if annonce is defined %}
    <h1>Liste des Annonce</h1>
    {% for annonce in annonce %}
        <div class="annonce">
            <div class="titre">
                {{ annonce.titre }}
            </div>
            <div class="categorie">
                [ {{ annonce.categories.name }} ]
            </div>
            <div class="description">
                {{ annonce.description }}
            </div>
            <div class="ville">
                {{ annonce.villes.codePostal }}
            </div>
            <div class="prix">
                {% if annonce.prix == null %}
                    0 €
                {% else %}
                    {{ annonce.prix }} €
                {% endif %}
            </div>
            <div class="date">
                {{ annonce.date|date("d/m/Y") }}
            </div>
            <div class="action">
                <a href="{{ path('mon_api_show', {'slug' : annonce.slug }) }}"><input type="button" value="Voir"></a>
                <a href="{{ path('mon_api_edit', {'slug' : annonce.slug }) }}"><input type="button" value="Modifier"></a>
                <a href="{{ path('mon_api_delete', {'slug' : annonce.slug }) }}"><input type="button" value="Supprimer"></a>
            </div>
        </div>
    {% endfor %}
    {% endif %}
{% endblock body %}